
$dominantColor: #acd7e6;
$oddsBlocks: #f5f5f5;

@mixin flexCenter($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

header{
    
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100vw;

    .contact-row{
        @include flexCenter(flex-start,center);
        height: 5vh;
        background-color: $oddsBlocks;
        
        h2{
            font-size: 14px;
            font-weight: 500;
            padding-left: 30px;
    
            .word-bold{
                font-weight: bold;
            }
        }
    
    }
    
    .navbar{
        @include flexCenter(space-evenly, center);
        background-color: #fff;
        height: 15vh;
    
        .logo{
            width: 30%;
            display: flex;  
            h2{
                align-self: center;
                margin-left: 10px;
                font-size: 25px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            a{
                text-decoration:none;
                display:inline-block; 
                line-height:0;
                img{
                    width: 85px;
                }
            }

        }
    
        .menu-list{
            @include flexCenter(space-evenly, center);
            height: 100%;
            width: 45%;
            li{
                list-style: none;
    
                a{
                    text-decoration: none;
                    letter-spacing: 1.5px;
                    color: #404142;
                    padding: 10px 15px;
                    transition: background-color 0.3s ease;

                    &:hover{
                        background-color:$dominantColor;
                        color: #fff;
                    }
                }
            } 
        
        }
    
        .burger{
            display: none;
            div{
                transition: all 0.3s ease;
                width:20px;
                height:3px;
                background-color: $dominantColor;
                margin: 5px 40px 5px 5px;
            }
        }
    
    }

}





#slider, .slide-content{
    overflow-x: hidden;
    margin: 0;
    padding:0;
    height: 80vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content{

    .wrap{
        position: relative;
    
        .arrow{
            cursor: pointer;
            position: absolute;
            top: 50%;
            margin-top: -35px;
            width: 0;
            height: 0;
            border-style: solid;
    
        }
    
        #arrow-left{
            border-width: 30px 40px 30px 0;
            left: 0;
            margin-left: 30px;
            border-color: transparent #fff transparent transparent;
        }
    
        #arrow-right{
            border-width: 30px 0px 30px 40px;
            right: 0;
            margin-right: 30px;
            border-color: transparent transparent transparent #fff;
        }
    
        .slide{
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center;
    
    
            .slide-content{
                @include flexCenter(center, center);
                flex-direction: column;
                text-align: center;
    
    
                span{
                    font-size: 3rem;
                    color: #fff;
                }
            }
        }
        
        .slide1{background-image: url(img/dog.jpg);}
        .slide2{background-image: url(img/cat.jpg);}
        .slide3{background-image: url(img/dog-white.jpg);}
    
    }

    a.anchor {
        display: block;
        position: relative;
        bottom: 20vh;
        visibility: hidden;
    }

    .block-title{
        @include flexCenter(flex-end, center);
        // min-height: 35vh;
        flex-direction: column;

        h2{
            font-size: 25px;
            font-weight: 500;

            &::after{
                content: "";
                display: block;
                margin: 0 auto;
                width: 50%;
                border-bottom: 3px solid lightgray;
                padding-top: 15px;
            }
        }

        p{
            margin-top: 5vh;
            text-align: center;
            letter-spacing: 1px;
            line-height: 26px;
        }

    }

    .block-1{
        min-height: 80vh;
        background-color:$oddsBlocks;

        .block-title{min-height: 30vh;}

        .icons{
            @include flexCenter(space-evenly, center);
            margin-top: 5vh;
            flex-wrap: wrap;

            .icon{
                @include flexCenter(space-around, center);
                width: 250px;
                height: 250px;
                flex-direction: column;
                text-align: center;

                .img-container{
                    background-color: $dominantColor;
                    @include flexCenter(center, center);
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                    margin-bottom: 15px;
                    border-radius: 50%;

                    img{
                        height: 45%;
                        width: 45%;}
                }

                .text-wrap{
                    border-top: 1px dashed lightgray;
                    text-align: center;
                    padding: 10px;
                    height: 50%;
                }

                h2{
                    font-size: 1em;
                    margin-bottom: 2px;}

                p {font-size: 13px; }
            }
        }
    }

    reference-div{
        position: absolute;
        bottom: 20vh;
    }

    .block-2{
        // height: 80vh;
        min-height: 80vh;
        background-color: $dominantColor;

        .block-title{min-height: 20vh;}

        .vets{
            @include flexCenter(center, center);
            flex-wrap: wrap;
            margin-top: 7vh;
            .vet{
                margin: auto 15px;
                width: 500px;
                height: 200px;

                .img-container{
                    border: 2px solid #fff;
                    height: 180px;
                    width: 180px;
                    background-size: cover;
                    background-position: center;
                    float: left;
                    border-radius: 50%;
                    box-shadow:inset 0 0 0 2000px rgba(68, 67, 68, 0.3);
                }

                .vet1{background-image: url(img/doc1.jpg);}

                .vet2{background-image: url(img/doc2.jpg);}

                .text-wrap{
                    text-align: center;
                    float: right;
                    width: 60%;
                    height: 90%;
                    padding: 10px;
                    border-bottom: 1px dashed #fff;
                    border-right: 1px dashed #fff;

                    h2{font-size: 1em;}

                    p {font-size: 14px;
                        
                    }

                }
            }
        }
    }

    .block-3{
        // margin: 20px;//???
        background-color: $oddsBlocks;
        padding: 0;
        text-align: center;
        .block-title{min-height: 20vh;}


        // h2{
        //     padding: 5vh 0
        // }

        .gallery{
            margin-top: 5vh;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-auto-rows: 100px 300px;
            grid-gap: 10px;
            grid-auto-flow: dense;

            .w-3{grid-column: span 3;}
            .w-2{grid-column: span 2;}
            .h-2{grid-row: span 2;}
            .h-1{grid-row: span 1;}
            .w-1{grid-column: span 1;}

            .gallery-container{

                .gallery-item{
                    width: 100%;
                    height: 100%;
                    position: relative;

                    .text{
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: white;
                        font-size: 20px;
                        pointer-events: none;
                        z-index: 1;
                        transition: .3s ease-in-out;
                        -webkit-backdrop-filter: blur(5px) saturate(1.8);
                        backdrop-filter: blur(5px) saturate(1.8);
                        
                    }
     
                    .image{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: 50% 50%;
                            cursor: pointer;
                            transition: .5s ease-in-out;
                        }
                    }


                    &:hover{
                        .image{
                            img{
                                transform: scale(1.2);
                            }
                        }
                        .text{
                            opacity: 1;
                            animation: move-down .6s linear;
                            padding: 1em;
                            width:100%;
                        }
                    }
                }

                @keyframes move-down{
                    0%{
                        top: 10%;
                    }
                    50%{
                        top:35%;
                    }
                    100%{
                        top:50%;
                    }
                }
            }
        }

    }
}


@media screen and(max-width:1024px){
    .menu-list{
        width: 60%;
    }
}


@media screen and (max-width:760px){

    // body{
    //     overflow-x: hidden;
    // }
    
    .header-content{
        .contact-row{     
            h2{
                font-size: 12px;
                padding-left: 20px;
            }
        }
    }
    .main-content{
        .wrap{
            display: none;
        }
        .block-title{
            h2{
                font-size: 20px;
            }
        }
        .block-2{
            .vets{
                .vet{
                    .img-container{
                        width: 120px;
                        height: 120px;
                    }
                    .text-wrap{
                        h2{
                            font-size: 14px;
                        }
                        p{font-size: 12px;}
                    }
                }
            }
        }

        .block-3{
            min-height: 80vh;
            .gallery{
                grid-template-columns: repeat(2, 1fr);
                .w-3{grid-column: span 2;}
                grid-auto-rows: 50px 150px;
                .media{grid-row: span 2;}
            }
        }
    }


    // header{
    //     .contact-row{     
    //         h2{
    //             font-size: 11px;
    //             padding-left: 20px;
    //         }
    //     }

    //     .navbar{
    //         .logo{
    //             margin: auto;
    //         }

    //         .menu-list{
    //             position: fixed;
    //             right: 0;
    //             height:80vh;
    //             width: 50%;
    //             top: 20vh;
    //             background-image:linear-gradient(#fff, rgb(187, 221, 233));
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center; 
    //             transform: translateX(100%);   
    //             transition: transform 0.5s ease-in;
        
    //             li{
    //                 opacity: 0;
    //             }
    //         }
        
    //         .burger{
    //             display: block;
    //             cursor: pointer;
    //             margin-left: auto;
        
        
    //         }
    //     }
    
    // }

    //good code


    .logo{
        margin: auto;
    }

    .menu-list{
        position: fixed;
        right: 0;
        height:80vh!important;
        width: 50%!important;
        top: 20vh;
        background-image:linear-gradient(#fff, rgb(187, 221, 233));
        display: flex;
        flex-direction: column;
        align-items: center; 
        transform: translateX(100%);   
        transition: transform 0.5s ease-in;

        li{
            opacity: 0;
        }
    }

    .burger{
        display: block!important;
        cursor: pointer;
        margin-left: auto;


    }

    //good code
}

@media screen and (max-width:360px){
    .header-content{
        .contact-row{     
            h2{
                font-size: 10px;
                padding-left: 20px;}
        }
    }

    .main-content{
        .block-2{
            .vets{
                .vet{
                    .img-container{
                        width: 100px;
                        height: 100px;
                    }
                    .text-wrap{
                        h2{
                            font-size: 12px;
                        }
                        p{font-size: 11px;}
                    }
                }
            }
        }
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }to{
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}











